#local {
    background: #f3f3f3;
    padding-bottom: 0px;
    display: flex;
    margin-bottom: 0px;
  }

  #texto1{
    width: 100%;
    margin-left: 150px;
    
}

/* aca intente hacer que los logos de las redes sociales queden situadas abajo pero nose que estoy haciendo mal */
#logosr{
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-left: 280px;
}