body {
    margin: 0px;
    background-color: white;
  }
  
  .menu {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  

  a {
    padding-bottom: 0px;
    text-decoration: none;
  }

  #letra{
    font-weight: bold;
  }

  .precio{
    font-size: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}